# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Node
node_modules/
dist/
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Django
*.sqlite3
staticfiles/
media/
db.sqlite3

# Docker
postgres_data/

# Playwright test artifacts
.playwright-mcp/
